<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Crypte des Jeux</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="navbar-brand">
				<a href="/" class="brand-logo">La Crypte des Jeux</a>
			</div>
			<ul class="navbar-menu">
				<li class="menu-item"><a href="/clients">Clients</a></li>
				<li class="menu-item"><a href="/genres">Genres</a></li>
				<li class="menu-item"><a href="/jeux">Jeux</a></li>
				<li class="menu-item"><a href="/exemplaires">Exemplaires</a></li>
				<li class="menu-item"><a href="/locations">Locations</a></li>
			</ul>
			<div class="navbar-actions">
				<!-- Bouton Connexion -->
				<a th:if="${#authentication.principal == 'anonymousUser'}"
					href="/login" class="btn-login">Connexion</a>

				<!-- Bouton Déconnexion -->
				<a th:if="${#authentication.principal != 'anonymousUser'}" href="#"
					class="btn-logout"
					onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
					Déconnexion </a>
				<form id="logoutForm" th:action="@{/logout}" method="post"
					style="display: none;">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				</form>
			</div>


		</nav>
	</header>
	<main>
		<!-- Espace pour le contenu dynamique -->
		<div th:replace="~{${body}}"></div>
	</main>
	<footer class="footer">
		<div class="container">
			<p>
				&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
				La Crypte des Jeux. Tous droits réservés.
			</p>
		</div>
	</footer>
</body>
</html>
